/* HPSimplified */
@font-face{
font-family:  "HPSimplifiedRegular";
src:url("https://hpsac.github.io/HPSimplifiedRegular.woff2") format("woff2");
font-weight: 400;
font-display: swap;}

@font-face{
font-family: "HPSimplifiedBold";
src: url("https://hpsac.github.io/HPSimplifiedBold.woff2") format("woff2");
font-weight: 700;
font-display: swap;}

@font-face{
font-family: "HPSimplifiedLight";
src: url("https://hpsac.github.io/HpSimplifiedLight.woff2") format("woff2");
font-weight:300;
font-display: swap;}

@font-face{
font-family: "HPSimplifiedLightItalic";
font-style: italic;
src: url("https://hpsac.github.io/HPSimplifiedLightItalic.woff2") format("woff2");
font-weight: 300;
font-display: swap;}

@font-face{
font-family: "HPSimplified";
src: url("https://hpsac.github.io/HPSimplifiedRegular.woff2") format("woff2");
font-weight: 400;
font-display: swap;} 

@font-face{
font-family: "HPSimplified-Regular";
src: url("https://hpsac.github.io/HPSimplifiedRegular.woff2") format("woff2");
font-weight: 400;
font-display: swap;} 

@font-face{
font-family: "HPSimplified-Light";
src: url("https://hpsac.github.io/HpSimplifiedLight.woff2") format("woff2");
font-weight: 300;
font-display: swap;}
